/* Reset básico para remover margens e padding padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de corpo */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Estilos para a navegação */
.nav {
  background-color: #333;
  overflow: hidden;
}

.nav .icon {
  display: none;
  font-size: 26px;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.nav-list li a:hover {
  background-color: #575757;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    display: none;
  }

  .nav-list li {
    display: block;
  }

  .nav .icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .nav-list {
    display: flex;
  }
}

/* Estilos para o conteúdo da seção */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  margin-bottom: 10px;
}

.title-p {
  margin-top: 0;
}

/* Estilos para o título principal */
h1 {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .title {
    font-size: 1em;
  }

  .title-p {
    font-size: 0.9em;
  }
}